.task {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px;
  cursor: pointer;
}

.task button {
  background-color: rgba(103, 187, 210, 0.583);
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 1px 2px;
  margin-right: 0.5rem;
}

.task button:hover {
  background-color: rgba(104, 178, 231, 0.813);
  cursor: pointer;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  min-height: 2.3rem;
}

.headerContent h2 {
  font-size: 0.8rem;
  margin: 0.2rem 0 0.2rem 1rem;
}

.headerContent p {
  margin-left: 1.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.816);
}

.buttonDiv {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-right: 0.5rem;
}

.buttonDiv button {
  padding: 0.1rem 0.5rem; /* Adjust padding to make the button smaller */
  font-size: 0.8rem; /* Adjust font size to make the button smaller */
  width: auto; /* Ensure the button width is auto */
  height: 60%;
}

.textContent {
  margin: 0.5rem 0 0 1rem;
  font-size: 0.7em;
}

.subTaskDiv ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.dateDiv {
  margin: 0.8rem 0 0.2rem 0;
  display: flex;
  justify-content: space-evenly;

  font-size: 0.7rem;
  font-weight: 300;
  color: grey;
}

.highPriority {
  background-color: #ffcccc; /* Darker red background for high priority */
}

.highPriority:hover {
  background-color: #f9b9b9; /* Darker red background for high priority */
}

.mediumPriority {
  background-color: #ffebcc; /* Orange background for medium priority */
}

.mediumPriority:hover {
  background-color: #fbe2bf; /* Orange background for medium priority */
}

.lowPriority {
  background-color: #ccffcc; /* Green background for low priority */
}

.lowPriority:hover {
  background-color: #bcf9bc; /* Green background for low priority */
}

.taskCompleted {
  border-radius: 3px;
  box-shadow: 1px 1px 2px;
  cursor: pointer;
  background-color: rgba(0, 113, 4, 0.188);
}

.taskCompleted h2,
.taskCompleted p {
  text-decoration: line-through; /* Add strikethrough to text */
}

.taskCompleted:hover {
  background-color: #16550638;
}
