.taskList {
  padding: 0.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  margin-top: 2rem;
  height: 51rem;
  overflow-y: auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-between; /* Distribute space between child elements */
  align-items: center; /* Center items vertically */
  margin-bottom: 0.4rem; /* Add some space below the button container */
}

.buttonContainerLeft {
  display: flex;
  gap: 0.5rem; /* Add some space between the buttons */
  width: 25%;
}

.buttonContainerCenter {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  width: 50%;
}

.buttonContainerRight {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}

.tasksDiv {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.buttonContainer button {
  background-color: rgba(59, 198, 237, 0.583);
  border-radius: 3px;
  border-style: none;
  box-shadow: 1px 1px 2px;
  padding: 0.2rem 1.2rem;
}

.buttonContainer button:hover {
  background-color: rgba(104, 178, 231, 0.813);
  cursor: pointer;
}
