.taskForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  background-color: rgb(243, 242, 242);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 1px 4px 8px rgb(0, 0, 0);
  width: 40rem;
  max-width: 40rem;
  max-height: 25rem;
}

.inputDiv label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
  width: 30rem;
  font-weight: 600;
}

.inputDiv input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem;
}

.priorityDiv {
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.priorityDiv input {
  margin-left: 0.4rem;
}

.subTaskDiv {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-weight: 600;
}

.subTaskDiv input {
  width: 30rem;
  border: 1px solid black;
  border-radius: 3px;
}

.taskForm button {
  background-color: rgba(13, 151, 41, 0.34);
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.taskForm button:hover {
  background-color: rgba(205, 202, 202, 0.775);
}
